<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/app.css">
     <link rel="stylesheet" href="/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Taskday</title>
</head>
<body>
     {{>_navbar}}
    <div class="container m-2">
        <div class="text-center">
           <!--/{{>_mensagem}}/--->  
        </div>
    {{{body}}}
    </div>
    <footer class="bg-dark mt-5">
        <div>
            <p style="color:antiquewhite;">rodapé</p>
        </div>
    </footer>
</body>
<script src="/js/bootstrap.js"></script>
<script src="/js/app2.js"></script>
<script src="/js/vendor/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
</html>