<div class="row mt-3">
    <div class="col-xs-6">
        <div class="align-items-center">
            <div class="align-content-center">
                <h2 class="text-center" id="texto_saida"></span></h2>
                <input type="hidden" id="texto_entrada" value="BEM VINDO AO TASK DAY!">
                <hr class="linha">
            </div>
        </div>
    </div>
</div>

<div class="row mt-4 cardContainer" id="cardContainer">
    <div class="col-md-4">
        <div class="card shadow cardC">
            <div class="align-content-center card-header bg-primary" style="color:aliceblue;">
                <h4 class="tittle"> O QUE HÁ DE NOVO COM <span class="ts-4">TASK DAY</span>?</h4>
            </div>

             <div class="align-content-center card-body">
                <img class="img-fluid" src="/imagens/o que ha.jpg">
            </div>
            <div class="card-footer">
                <p>Tu podes adicionar/retirar as suas tarefa quando quiseres</p>

            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card shadow cardC">
            <div class="align-content-center card-header bg-primary" style="color:aliceblue;">
                <h4 class="tittle"> O QUE POSSO FAZER COM <span class="ts-4">TASK DAY</span>?</h4>
            </div>

             <div class="align-content-center card-body">
                <img class="img-fluid" src="/imagens/o que ganho.jpg">
            </div>
            <div class="card-footer">
                <p>Tu podes fazer a melhor gestão das suas tarefas diárias</p>

            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card shadow cardC">
            <div class="align-content-center card-header bg-primary" style="color:aliceblue;">
                <h4 class="tittle"> VALE APENA USAR O <span class="ts-4">TASK DAY</span>?</h4>
            </div>

             <div class="align-content-center card-body">
                <img class="img-fluid" src="/imagens/valeapena.jpg">
            </div>
            <div class="card-footer">
                <p>Sim vale! com uma gestão eficiente e execução rápida!</p>

            </div>
        </div>
    </div>
</div>



       