<div class="row mt-3">
    <div class="col-xs-6">
        <div class="align-items-center">
            <div class="align-content-center">
                <h2 class="text-center">VEJA AS TUAS TAREFAS CRIADAS NO <span class="ts-4">TASK DAY</span></h2>
                <hr class="linha">
            </div>
        </div>
    </div>
</div>
<div class="row">
    <table class="table table-active">
        <thead>
            <th class="col">itens</th>
            <th class="col">itens2</th>
            <th class="col">itens3</th>
            <th class="col">Acção 1</th>
        </thead>
        <tbody>
            <th>
                zzzzzzz
                
            </th>
            <th>aaaa
                
            </th>
            <th>
                dddddd
            </th>
            <th>
                <button class="btn btn-info">marcar como feito</button>
            </th>
        </tbody>
    </table>

</div>